svg {
    /*background-color: #efefef;*/
    /*overflow: visible;*/
}

.grid-stack {
    background: #fefefe;
}

.grid-stack-item-content {
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
